test {
  háttér: világoskék;
}

div {
  szöveg igazítás: középpont;
  túlcsordulás: rejtett;
  szegély: 5 képpontos, piros pontozott;
  szélesség: 300 képpont;
  háttér: sárga;
}

img {
  szélesség: 100 képpont;
  szegély: 2 képpont szilárd fekete;
  párnázat: 10 képpont;
  háttér: fehér;
  margin: 10 képpont;
}

h1 {
  font-család: Impact;
  betűméret: 50pt;
  szövegdíszítés: aláhúzás aláhúzás;
  margin: 10 képpont;
}

h3 {
  font-család: Impact;
  betűméret: 18pt;
  margin: 10 képpont;
}

p {
  betűtípus-család: Arial;
  betűméret: 12pt;
  margin: 20 képpont;
}